#### This code is used to construct variables used in baseline regression
- open B-A (x): dummy difference (the state is open to interstate banking in the year) between target B and acquirer A
- Acq. vol. A buys B (y1): total transaction value of acquisitions made by firms located in A targeting firms in B/total transaction value of acquisition made by firms located in A
- Acq. vol. A buys B (y2): the number of transactions made by firms located in A targeting firms in B/the number of transactions made by firms located in A
- Within-state acquisition growth 
- Tobinâ€™s q B-A
- Stock return B-A
- GDP growth B-A
- GDP per capita B-A
- Unemployment B-A
- Corporate tax B-A
- Anti-combination B-A
- Industry dissimilarity A&B
- Economic correlation A&B

In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',1000)

In [2]:
## Filter samples
ma_path = '../M&A1980_1997/'
ma_df = pd.DataFrame()
for f in os.listdir(ma_path):
    df = pd.read_excel(os.path.join(ma_path,f),header = 1)
    df = df.iloc[:-10,:]
    ma_df = pd.concat([ma_df,df])

### exclude finance and utility industry and other exceptions
ma_df = ma_df[~ma_df['Target\nPrimary\n  SIC\n Code'].isin(range(6000,7000))]
ma_df = ma_df[~ma_df['Target\nPrimary\n  SIC\n Code'].isin(range(4900,5000))]
ma_df = ma_df[~ma_df['Acquiror\nPrimary\n  SIC\n  Code'].isin(range(6000,7000))]
ma_df = ma_df[~ma_df['Acquiror\nPrimary\n  SIC\n  Code'].isin(range(4900,5000))]

ma_df = ma_df[~ma_df['Target\nPrimary\n  SIC\n Code'].isin(['619A','999F','499A','999G','619B','999A','999B','999C','999D','999E'])]
ma_df = ma_df[~ma_df['Acquiror\nPrimary\n  SIC\n  Code'].isin(['619A','999F','499A','999G','619B','999A','999B','999C','999D','999E'])]

ma_df['Target\nPrimary\n  SIC\n Code'] = ma_df['Target\nPrimary\n  SIC\n Code'].astype(int)
ma_df['Acquiror\nPrimary\n  SIC\n  Code'] = ma_df['Acquiror\nPrimary\n  SIC\n  Code'].astype(int)
print('There are only ',len(ma_df),' left.')
## exclude state as 'Unknown','Foreign'
ma_df = ma_df[(~ma_df['Acquiror State'].isin(['Unknown','Foreign','Virgin Islands','Cayman Islands']))&(~ma_df['Target State'].isin(['Unknown','Foreign','Virgin Islands','Cayman Islands']))]
ma_df.dropna(subset=['Target State','Acquiror State'],how='any',inplace=True)
print('There are only ',len(ma_df),' left.')

ma_df['announce_year'] = ma_df['  Date\nAnnounced'].apply(lambda x:x.year)

## State and state abbr
state_abbreviations = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "D. of Columbia":"DC",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY"
}

state_full = {}
for k,v in state_abbreviations.items():
    state_full[v] = k

There are only  64377  left.
There are only  53403  left.

In [4]:
## before construct measures, we firstly replicate Table 1
ma_df['same_state'] = ma_df.apply(lambda row: 1 if row['Acquiror State']==row['Target State'] else 0, axis=1)
acquire_grouped = ma_df.groupby(by = ['Acquiror State','same_state'])
acquire_count = acquire_grouped['Target Name'].count()
acquire_count = acquire_count.unstack(level=-1)
acquire_count.columns = ['NC','NI']

acquire_volume = acquire_grouped['Value of\nTransaction\n($mil)'].sum(numeric_only = True)
acquire_volume = acquire_volume.unstack(level=-1)
acquire_volume.columns = ['VC','VI']

target_grouped = ma_df.groupby(by = ['Target State','same_state'])
target_count =target_grouped['Acquiror Name'].count()
target_count = target_count.unstack(level=-1)
target_count.columns = ['NC','NI']

target_volume = target_grouped['Value of\nTransaction\n($mil)'].sum(numeric_only = True)
target_volume = target_volume.unstack(level=-1)
target_volume.columns = ['VC','VI']


table1 = pd.merge(acquire_count,target_count,left_index=True,right_index=True,suffixes=('_acquire','_target'))
table1['N_acquire'] = table1['NI_acquire']+table1['NC_acquire']
table1['N_target'] = table1['NI_target']+table1['NC_target']
table1['%NC_acquire'] = table1['NC_acquire']/table1['NI_acquire'] 
table1['%NC_target'] = table1['NC_target']/table1['NI_target']


table11 = pd.merge(acquire_volume,target_volume,left_index=True,right_index=True,suffixes=('_acquire','_target'))
table1 =pd.merge(table1,table11,left_index=True,right_index=True)
table1.drop(columns=['NI_acquire','NI_target','VI_acquire','VI_target'],inplace=True)
table1.to_csv('./table_out/Table1.csv')

##### Construct x - open B-A

In [3]:
policy = pd.read_excel('../data/policy.xlsx')
open_policy = policy.iloc[:,2:]
open_policy['state'] = open_policy['State.1'].apply(lambda x:state_full[x])
years = range(1980,1998)
years = np.tile(years, len(open_policy))

states = open_policy['state'].values
shuffle_states = np.tile(states,len(states))
shuffle_years = np.tile(years,len(states))
states = states.repeat(18)

open_df = pd.DataFrame([states,years]).T
open_df.columns = ['state','year']
open_df = pd.merge(open_df,open_policy,left_on = 'state',right_on='state')
open_df['open'] = open_df.apply(lambda x: 1 if x['year']>=x['Interstate banking'] else 0,axis =1)

open_diff = pd.merge(open_df,open_df,how = 'outer',left_on = 'year',right_on = 'year',suffixes=('_target','_acquire'))
open_diff = open_diff[open_diff['state_target']!=open_diff['state_acquire']]
open_diff['open_B-A'] = open_diff['open_target']-open_diff['open_acquire']
open_diff.rename(columns={'state_target':'Target State','state_acquire':'Acquiror State','year':'announce_year'},inplace=True)
open_diff['announce_year'] = open_diff['announce_year'].astype(int)

##### Construct y - acquire volume B-A

In [4]:
group_acq_tar_year =ma_df.groupby(by = ['Acquiror State','Target State','announce_year'])
group_acq_year = ma_df.groupby(by = ['Acquiror State','announce_year'])

count_df = group_acq_tar_year['Target Name'].count()
count_df = count_df.reset_index()
count_df = count_df[count_df['Target State']!=count_df['Acquiror State']]
count_all =  group_acq_year['Target Name'].count()
count_all = count_all.reset_index()
count_df = pd.merge(count_df,count_all,left_on=['Acquiror State','announce_year'],right_on=['Acquiror State','announce_year'],suffixes=('_acquire','_all'))
count_df['Acq_Count_A-B'] = count_df['Target Name_acquire']/count_df['Target Name_all']
count_df['announce_year'] = count_df['announce_year'].astype(int)

##NOTE: Can we assume those with no value as 0???
volume_df = group_acq_tar_year['Value of\nTransaction\n($mil)'].sum()#agg(lambda x: x.sum(skipna= False))
volume_df = volume_df.reset_index()
volume_df = volume_df[volume_df['Target State']!=volume_df['Acquiror State']]
volume_all =  group_acq_year['Value of\nTransaction\n($mil)'].sum()# agg(lambda x: x.sum(skipna= False))
volume_all = volume_all.reset_index()
volume_df['announce_year'] = volume_df['announce_year'].astype(int)
volume_df = pd.merge(volume_df,volume_all,left_on=['Acquiror State','announce_year'],right_on=['Acquiror State','announce_year'],suffixes=('_acquire','_all'))
volume_df['Acq_Vol_A-B'] = volume_df['Value of\nTransaction\n($mil)_acquire']/volume_df['Value of\nTransaction\n($mil)_all']
volume_df.loc[volume_df['Acq_Vol_A-B'].isna(),'Acq_Vol_A-B'] = 'unknown'

acq_df = pd.merge(count_df,volume_df,on = ['Acquiror State','Target State','announce_year'])
acq_df['announce_year'] = acq_df['announce_year'].astype(int)

reg_df = pd.merge(acq_df,open_diff,how = 'right',on = ['Acquiror State','Target State','announce_year'])
reg_df.loc[reg_df['Acq_Count_A-B'].isna(),'Acq_Count_A-B'] = 0
reg_df.loc[reg_df['Acq_Vol_A-B'].isna(),'Acq_Vol_A-B'] = 0
reg_df.loc[reg_df['Acq_Vol_A-B']=='unknown','Acq_Vol_A-B'] = None

##### Construct controls

In [ ]:
## within state 
volume_all = pd.merge(open_df[['state', 'year']],volume_all,how='left',left_on=['state', 'year'],right_on=['Acquiror State','announce_year'])
volume_all['Value of\nTransaction\n($mil)'] = volume_all['Value of\nTransaction\n($mil)'].fillna(0)

volume_all.sort_values(by=['state','year'],ascending=[True,True],inplace=True)
volume_all['shift_Value of\nTransaction\n($mil)'] = volume_all.groupby(by = ['state'])['Value of\nTransaction\n($mil)'].shift()
def get_growth(x):
    if x['shift_Value of\nTransaction\n($mil)']!=0:
        return (x['Value of\nTransaction\n($mil)']-x['shift_Value of\nTransaction\n($mil)'])/x['shift_Value of\nTransaction\n($mil)'] 
    elif x['Value of\nTransaction\n($mil)']==0:
        return 0
    else:
        return 1

volume_all['growth'] = volume_all.apply(lambda x:get_growth(x),axis=1)
reg_df = pd.merge(reg_df,volume_all[['state', 'year','growth']],left_on=['Acquiror State','announce_year'],right_on=['state','year'])
reg_df = pd.merge(reg_df,volume_all[['state', 'year','growth']],left_on=['Target State','announce_year'],right_on=['state','year'],suffixes=('_acquire','_target'))
##

In [89]:
## GDP growth and GDP percapita
gdp = pd.read_csv('../data/GDP-by-state-industry.csv')
gdp.drop(columns=['ID ','COMPONENT                                                    ','FIPS   '],inplace=True)
gdp = gdp.iloc[:-6]
gdp.columns = [c.strip() for c in gdp.columns]
##NOTE: There are some cases that it is labeled as (L), which means the value is below 0.5 million, we simply replace it with 0.5
gdp = gdp.replace('   (L)  ','0.5')
gdp['REGION'] = gdp['REGION'].str.strip()
gdp.loc[gdp['REGION']=='Dist. of Col.','REGION'] = 'D. of Columbia'

gdp_state = gdp[gdp['CODE']==0]
gdp_state = gdp_state[:-9]
gdp_state.drop(columns=[ 'CODE','INDUSTRY'],inplace=True)
states = gdp_state['REGION'].values
states = states.repeat(21)

t = gdp_state.iloc[:,1:].stack()
t = t.reset_index()
t.columns = ['index','year','GDP']
t['GDP'] = t['GDP'].astype(float)
t['state'] = states
t.drop(columns=['index'],inplace=True)
t['GDP_shift'] = t.groupby('state')['GDP'].shift()
t['GDP_growth'] = (t['GDP']-t['GDP_shift'])/t['GDP_shift']

t['year'] = t['year'].astype(int)


population = pd.read_excel('../data/popest-annual-historical.xls',sheet_name='States')
population.loc[population['Area Name']=='District of Columbia','Area Name'] = 'D. of Columbia'
population.columns =[str(c).strip() for c in population.columns]
population.rename(columns={'Area Name':'REGION'},inplace=True)

tt = population.iloc[:,1:].stack()
tt = tt.reset_index()
tt.columns = ['index','year','population']
tt['population'] = tt['population'].astype(int)
states_po= population['REGION'].values
states_po = states_po.repeat(41)
tt['state'] = states_po
tt.drop(columns=['index'],inplace=True)
tt['year'] = tt['year'].astype(int)

tem = pd.merge(t,tt,on = ['state','year'])
tem['GDP_per_capita'] = tem['GDP']/tem['population']

reg_df['announce_year'] = reg_df['announce_year'].astype(int)
tt = pd.merge(reg_df,tem,left_on=['Acquiror State','announce_year'],right_on=['state','year'])
reg_df = pd.merge(tt,tem,left_on=['Target State','announce_year'],right_on=['state','year'],suffixes=('_acquire','_target'))
reg_df.drop(columns=['state_acquire','GDP_shift_acquire','year_target','state_target','GDP_shift_target','year_acquire'],inplace=True)
reg_df['GDP_growth_B-A'] = reg_df['GDP_growth_target'] - reg_df['GDP_growth_acquire']
reg_df['GDP_per_capita_B-A'] = reg_df['GDP_per_capita_target'] - reg_df['GDP_per_capita_acquire']
reg_df

C:\Users\chuxu\AppData\Local\Temp\ipykernel_9160\1026381588.py:33: FutureWarning: Passing 'suffixes' which cause duplicate columns {'state_acquire', 'year_acquire'} in the result is deprecated and will raise a MergeError in a future version.
  reg_df = pd.merge(tt,tem,left_on=['Target State','announce_year'],right_on=['state','year'],suffixes=('_acquire','_target'))

,Acquiror State,Target State,announce_year,Target Name_acquire,Target Name_all,Acq_Count_A-B,Value of\nTransaction\n($mil)_acquire,Value of\nTransaction\n($mil)_all,Acq_Vol_A-B,State.1_target,Interstate banking_target,Intrastate branching_target,open_target,State.1_acquire,Interstate banking_acquire,Intrastate branching_acquire,open_acquire,open_B-A,growth_acquire,growth_target,GDP_acquire,GDP_growth_acquire,population_acquire,GDP_per_capita_acquire,GDP_target,GDP_growth_target,population_target,GDP_per_capita_target,GDP_growth_B-A,GDP_per_capita_B-A
0,Alabama,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AL,1987,1981,0,0,NaN,NaN,36006.0,0.073684,3900368,0.009231,15138.0,0.393538,405315,0.037349,0.319853,0.028117
1,Arkansas,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AR,1989,1994,0,0,NaN,NaN,20100.0,0.061134,2288738,0.008782,15138.0,0.393538,405315,0.037349,0.332404,0.028567
2,Arizona,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AZ,1986,before 1970,0,0,NaN,NaN,30431.0,0.114444,2737774,0.011115,15138.0,0.393538,405315,0.037349,0.279094,0.026233
3,California,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,CA,1987,before 1970,0,0,NaN,NaN,324407.0,0.111394,23800800,0.013630,15138.0,0.393538,405315,0.037349,0.282144,0.023719
4,Colorado,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,CO,1988,1991,0,0,NaN,NaN,38151.0,0.132212,2908803,0.013116,15138.0,0.393538,405315,0.037349,0.261326,0.024233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45895,Washington,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WA,1987,1985,1,0,1.277311,0.341857,174412.0,0.078215,5674747,0.030735,102533.0,0.046885,4367935,0.023474,-0.031329,-0.007261
45896,Wisconsin,Alabama,1997,2.0,95.0,0.021053,43.5,5949.601,0.007311,AL,1987,1981,1,WI,1987,1990,1,0,1.796580,0.341857,148831.0,0.049917,5266213,0.028261,102533.0,0.046885,4367935,0.023474,-0.003032,-0.004787
45897,West Virginia,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WV,1988,1987,1,0,131.312000,0.341857,38517.0,0.031355,1819113,0.021174,102533.0,0.046885,4367935,0.023474,0.015530,0.002301
45898,Wyoming,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WY,1987,1988,1,0,0.892967,0.341857,16041.0,0.019641,489451,0.032773,102533.0,0.046885,4367935,0.023474,0.027244,-0.009299
45899,Alaska,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,AK,1982,before 1970,1,0,-1.000000,0.341857,26884.0,0.030710,612968,0.043859,102533.0,0.046885,4367935,0.023474,0.016176,-0.020385

In [ ]:
# Industry dissimilarity A&B
#gdp = gdp[~gdp['CODE'].isin([0,5000,10000,30000,40000,50000,60000,70000,80000,90000,100000,110000])]
industry_df = pd.DataFrame()
states = gdp.REGION.unique()
for r in states:
    for r1 in states:
        if r==r1:
            continue
        curr_r = gdp[gdp['REGION']==r]
        curr_r1 = gdp[gdp['REGION']==r1]

        curr_r_ind = curr_r['CODE']
        curr_r_ind = np.tile(curr_r_ind,21)
        curr_r_t = curr_r.iloc[:,3:].stack()
        curr_r_t = curr_r_t.reset_index()
        curr_r_t['CODE'] = curr_r_ind
        curr_r_t.columns = ['index','year','GDP','CODE']
        curr_r_t.drop(columns=['index'],inplace=True)

        curr_r1_ind = curr_r1['CODE']
        curr_r1_ind = np.tile(curr_r1_ind,21)
        curr_r1_t = curr_r1.iloc[:,3:].stack()
        curr_r1_t = curr_r1_t.reset_index()
        curr_r1_t['CODE'] = curr_r1_ind
        curr_r1_t.columns = ['index','year','GDP','CODE']
        curr_r1_t.drop(columns=['index'],inplace=True)

        curr_r_t['GDP'] = curr_r_t['GDP'].apply(lambda x: float(x.strip()))
        curr_r1_t['GDP'] = curr_r1_t['GDP'].apply(lambda x: float(x.strip()))

        curr_t = pd.merge(curr_r_t,curr_r1_t,how='outer',on = ['year','CODE'])
        curr_t[['GDP_x','GDP_y']] = curr_t[['GDP_x','GDP_y']].fillna(0.0)
        curr_t['GDP_diff'] = curr_t.apply(lambda row: (row['GDP_x']-row['GDP_y'])**2,axis=1)

        curr_t = curr_t.groupby('year')['GDP_diff'].sum()
        curr_t = curr_t.apply(lambda x:np.sqrt(x))

        curr_t = curr_t.reset_index()
        curr_t['Acquiror State']=r
        curr_t['Target State'] = r1

        industry_df = pd.concat([industry_df,curr_t])
        print('Finished ',r,' and ',r1)
print('END!!!')

industry_df = industry_df[~industry_df['Acquiror State'].isin(['UNITED STATES',
       'NEW ENGLAND', 'MIDEAST', 'GREAT LAKES', 'PLAINS', 'SOUTHEAST',
       'SOUTHWEST', 'ROCKY MTN', 'FAR WEST'])]
industry_df = industry_df[~industry_df['Target State'].isin(['UNITED STATES',
       'NEW ENGLAND', 'MIDEAST', 'GREAT LAKES', 'PLAINS', 'SOUTHEAST',
       'SOUTHWEST', 'ROCKY MTN', 'FAR WEST'])]
industry_df['year'] = industry_df['year'].astype(int)
reg_df = pd.merge(reg_df,industry_df, left_on=['Acquiror State','Target State','announce_year'],right_on = ['Acquiror State','Target State','year'])

In [188]:
# Economic correlation A&B 
from datetime import datetime
coincide = pd.read_excel('../data/coincident-index.xls')
coincide['year'] = coincide['Date'].dt.year
coincide['month'] = coincide['Date'].dt.month
coincide = coincide[coincide['month']==12]
coincide.set_index('year',inplace=True)
coincide.drop(columns=['month','Date'],inplace=True)
coincide = coincide.stack()
coincide = coincide.reset_index()
coincide.columns=['year','level_1','coincident_index']
coincide = coincide[coincide['level_1']!='US']
coincide['state'] = coincide['level_1'].apply(lambda x:state_full[x])
coincide.drop(columns=['level_1'],inplace=True)
reg_df = pd.merge(reg_df,coincide,how= 'left',left_on = ['Acquiror State','announce_year'],right_on=['state','year'])
reg_df.drop(columns=['year_x','year_y','state'],inplace=True)

,Acquiror State,Target State,announce_year,Target Name_acquire,Target Name_all,Acq_Count_A-B,Value of\nTransaction\n($mil)_acquire,Value of\nTransaction\n($mil)_all,Acq_Vol_A-B,State.1_target,Interstate banking_target,Intrastate branching_target,open_target,State.1_acquire,Interstate banking_acquire,Intrastate branching_acquire,open_acquire,open_B-A,growth_acquire,growth_target,GDP_acquire,GDP_growth_acquire,population_acquire,GDP_per_capita_acquire,GDP_target,GDP_growth_target,population_target,GDP_per_capita_target,GDP_growth_B-A,GDP_per_capita_B-A,year_x,GDP_diff,year_y,coincident_index,state
0,Alabama,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AL,1987,1981,0,0,NaN,NaN,36006.0,0.073684,3900368,0.009231,15138.0,0.393538,405315,0.037349,0.319853,0.028117,1980,17686.008948,1980.0,53.718725,Alabama
1,Arkansas,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AR,1989,1994,0,0,NaN,NaN,20100.0,0.061134,2288738,0.008782,15138.0,0.393538,405315,0.037349,0.332404,0.028567,1980,13090.326018,1980.0,51.662777,Arkansas
2,Arizona,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AZ,1986,before 1970,0,0,NaN,NaN,30431.0,0.114444,2737774,0.011115,15138.0,0.393538,405315,0.037349,0.279094,0.026233,1980,15350.929426,1980.0,34.910535,Arizona
3,California,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,CA,1987,before 1970,0,0,NaN,NaN,324407.0,0.111394,23800800,0.013630,15138.0,0.393538,405315,0.037349,0.282144,0.023719,1980,131074.340461,1980.0,41.980988,California
4,Colorado,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,CO,1988,1991,0,0,NaN,NaN,38151.0,0.132212,2908803,0.013116,15138.0,0.393538,405315,0.037349,0.261326,0.024233,1980,16370.223708,1980.0,40.135572,Colorado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45895,Washington,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WA,1987,1985,1,0,1.277311,0.341857,174412.0,0.078215,5674747,0.030735,102533.0,0.046885,4367935,0.023474,-0.031329,-0.007261,1997,65631.713638,1997.0,75.814951,Washington
45896,Wisconsin,Alabama,1997,2.0,95.0,0.021053,43.5,5949.601,0.007311,AL,1987,1981,1,WI,1987,1990,1,0,1.796580,0.341857,148831.0,0.049917,5266213,0.028261,102533.0,0.046885,4367935,0.023474,-0.003032,-0.004787,1997,61962.783215,1997.0,85.323038,Wisconsin
45897,West Virginia,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WV,1988,1987,1,0,131.312000,0.341857,38517.0,0.031355,1819113,0.021174,102533.0,0.046885,4367935,0.023474,0.015530,0.002301,1997,36690.871494,1997.0,81.054516,West Virginia
45898,Wyoming,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WY,1987,1988,1,0,0.892967,0.341857,16041.0,0.019641,489451,0.032773,102533.0,0.046885,4367935,0.023474,0.027244,-0.009299,1997,40263.029258,1997.0,78.268599,Wyoming
45899,Alaska,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,AK,1982,before 1970,1,0,-1.000000,0.341857,26884.0,0.030710,612968,0.043859,102533.0,0.046885,4367935,0.023474,0.016176,-0.020385,1997,40727.056541,1997.0,90.016962,Alaska

In [221]:
## Tobins'q B-A
compustat = pd.read_csv('../data/compustats.csv')
compustat = compustat[compustat['loc']=='USA']
compustat = compustat[['fyear','cusip','conm','state','at','prcc_f','csho','ceq','txdb']]
compustat = compustat[compustat['at']>0.1]
compustat['tobinq'] = (compustat['prcc_f']*compustat['csho']+compustat['at']-compustat['ceq']-compustat['txdb'])/compustat['at']
tobinq_df = compustat.groupby(by = ['state','fyear'])['tobinq'].mean()
tobinq_df =tobinq_df.reset_index()
tobinq_df = tobinq_df[~tobinq_df['state'].isin(['PR','VI'])]
tobinq_df['state_full'] = tobinq_df['state'].apply(lambda x: state_full[x])

reg_df = pd.merge(reg_df,tobinq_df,left_on=['Acquiror State','announce_year'],right_on=['state_full','fyear'])
reg_df = pd.merge(reg_df,tobinq_df,left_on=['Target State','announce_year'],right_on=['state_full','fyear'],suffixes=('_acquire','_target'))
reg_df['tobinq_B-A'] = reg_df['tobinq_target']-reg_df['tobinq_acquire']

<function pandas.core.reshape.merge.merge(left: 'DataFrame | Series', right: 'DataFrame | Series', how: 'str' = 'inner', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool' = True, indicator: 'bool' = False, validate: 'str | None' = None) -> 'DataFrame'>

In [258]:
# stock return B-A
return_df = pd.read_csv('../data/stock_return.csv')
return_df = return_df[['CUSIP','CUSIP9','YYYYMM','MthRet']]
return_df['CUSIP9'] = return_df['CUSIP9'].astype(str)
compustat_state = compustat[['cusip','state']]
compustat_state['cusip'] = compustat_state['cusip'].astype(str)
compustat_state.drop_duplicates(inplace=True)
return_df = pd.merge(return_df,compustat_state,left_on='CUSIP9',right_on='cusip')

return_df['year'] = return_df['YYYYMM']//100
return_df['payoff'] = return_df['MthRet']+1
return_df.sort_values(by = ['CUSIP9','YYYYMM'],ascending=[True,True],inplace=True)

ret_df = return_df.groupby(by = ['CUSIP9','year'])['payoff'].prod()-1
ret_df = ret_df.reset_index()
ret_df = pd.merge(ret_df,compustat_state,left_on='CUSIP9',right_on='cusip')
ret_df = ret_df.groupby(by=['state','year'])['payoff'].mean()
ret_df = ret_df.reset_index()
ret_df = ret_df[~ret_df['state'].isin(['PR','VI'])]
ret_df['state_full'] = ret_df['state'].apply(lambda x: state_full[x])

reg_df = pd.merge(reg_df,ret_df,how = 'left',left_on=['Acquiror State','announce_year'],right_on=['state_full','year'])
reg_df = pd.merge(reg_df,ret_df,how = 'left',left_on=['Target State','announce_year'],right_on=['state_full','year'],suffixes=('_acquire','_target'))
reg_df['stock_return_B-A'] = reg_df['payoff_target'] - reg_df['payoff_acquire']

reg_df.drop(columns=['year_target','year_acquire','state_target','state_acquire'],inplace=True)

C:\Users\chuxu\AppData\Local\Temp\ipykernel_9160\1009221573.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compustat_state['cusip'] = compustat_state['cusip'].astype(str)
C:\Users\chuxu\AppData\Local\Temp\ipykernel_9160\1009221573.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compustat_state.drop_duplicates(inplace=True)

In [326]:
## unemployment B-A
unemployment = pd.read_excel('../data/emp-unemployment.xls',header=5,sheet_name='States')
unemployment = unemployment.iloc[:-9,:]
unemployment.drop(columns=['Fips'],inplace=True)
unemployment.set_index('Area',inplace=True)
unemployment = unemployment.stack()
unemployment = unemployment.reset_index()
unemployment.loc[unemployment['Area']=='District of Columbia','Area']='D. of Columbia'
unemployment = unemployment[unemployment['Area']!='United States']
unemployment.columns = ['Area','year','unemployment']

reg_df = pd.merge(reg_df,unemployment,left_on=['Acquiror State','announce_year'],right_on=['Area','year'])
reg_df = pd.merge(reg_df,unemployment,left_on=['Target State','announce_year'],right_on=['Area','year'],suffixes=('_acquire','_target'))
reg_df['unemployment_B-A'] = reg_df['unemployment_target']- reg_df['unemployment_acquire']

,Acquiror State,Target State,announce_year,Target Name_acquire,Target Name_all,Acq_Count_A-B,Value of\nTransaction\n($mil)_acquire,Value of\nTransaction\n($mil)_all,Acq_Vol_A-B,State.1_target,Interstate banking_target,Intrastate branching_target,open_target,State.1_acquire,Interstate banking_acquire,Intrastate branching_acquire,open_acquire,open_B-A,growth_acquire,growth_target,GDP_acquire,GDP_growth_acquire,population_acquire,GDP_per_capita_acquire,GDP_target,GDP_growth_target,population_target,GDP_per_capita_target,GDP_growth_B-A,GDP_per_capita_B-A,GDP_diff,coincident_index,fyear_acquire,tobinq_acquire,state_full_acquire,fyear_target,tobinq_target,state_full_target,tobinq_B-A,payoff_acquire,state_full_acquire,payoff_target,state_full_target,stock_return_B-A,Area_acquire,year_acquire,unemployment_acquire,Area_target,year_target,unemployment_target
0,Alabama,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AL,1987,1981,0,0,NaN,NaN,36006.0,0.073684,3900368,0.009231,15138.0,0.393538,405315,0.037349,0.319853,0.028117,17686.008948,53.718725,1980,1.046613,Alabama,1980,1.538256,Alaska,0.491643,0.262602,Alabama,-0.601266,Alaska,-0.863869,Alabama,1980,8.9,Alaska,1980,9.6
1,Arkansas,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AR,1989,1994,0,0,NaN,NaN,20100.0,0.061134,2288738,0.008782,15138.0,0.393538,405315,0.037349,0.332404,0.028567,13090.326018,51.662777,1980,1.128102,Arkansas,1980,1.538256,Alaska,0.410154,0.296157,Arkansas,-0.601266,Alaska,-0.897423,Arkansas,1980,7.6,Alaska,1980,9.6
2,Arizona,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AZ,1986,before 1970,0,0,NaN,NaN,30431.0,0.114444,2737774,0.011115,15138.0,0.393538,405315,0.037349,0.279094,0.026233,15350.929426,34.910535,1980,1.724523,Arizona,1980,1.538256,Alaska,-0.186267,0.193647,Arizona,-0.601266,Alaska,-0.794913,Arizona,1980,6.6,Alaska,1980,9.6
3,California,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,CA,1987,before 1970,0,0,NaN,NaN,324407.0,0.111394,23800800,0.013630,15138.0,0.393538,405315,0.037349,0.282144,0.023719,131074.340461,41.980988,1980,2.152544,California,1980,1.538256,Alaska,-0.614288,0.397832,California,-0.601266,Alaska,-0.999098,California,1980,6.8,Alaska,1980,9.6
4,Colorado,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,CO,1988,1991,0,0,NaN,NaN,38151.0,0.132212,2908803,0.013116,15138.0,0.393538,405315,0.037349,0.261326,0.024233,16370.223708,40.135572,1980,4.272541,Colorado,1980,1.538256,Alaska,-2.734285,0.648190,Colorado,-0.601266,Alaska,-1.249457,Colorado,1980,5.8,Alaska,1980,9.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45895,Washington,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WA,1987,1985,1,0,1.277311,0.341857,174412.0,0.078215,5674747,0.030735,102533.0,0.046885,4367935,0.023474,-0.031329,-0.007261,65631.713638,75.814951,1997,3.239502,Washington,1997,1.577174,Alabama,-1.662328,0.155538,Washington,0.294567,Alabama,0.139029,Washington,1997,4.9,Alabama,1997,5.0
45896,Wisconsin,Alabama,1997,2.0,95.0,0.021053,43.5,5949.601,0.007311,AL,1987,1981,1,WI,1987,1990,1,0,1.796580,0.341857,148831.0,0.049917,5266213,0.028261,102533.0,0.046885,4367935,0.023474,-0.003032,-0.004787,61962.783215,85.323038,1997,1.861830,Wisconsin,1997,1.577174,Alabama,-0.284656,0.409316,Wisconsin,0.294567,Alabama,-0.114748,Wisconsin,1997,3.6,Alabama,1997,5.0
45897,West Virginia,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WV,1988,1987,1,0,131.312000,0.341857,38517.0,0.031355,1819113,0.021174,102533.0,0.046885,4367935,0.023474,0.015530,0.002301,36690.871494,81.054516,1997,1.610294,West Virginia,1997,1.577174,Alabama,-0.033120,0.550778,West Virginia,0.294567,Alabama,-0.256210,West Virginia,1997,6.9,Alabama,1997,5.0
45898,Wyoming,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WY,1987,1988,1,0,0.892967,0.341857,16041.0,0.019641,489451,0.032773,102533.0,0.046885,4367935,0.023474,0.027244,-0.009299,40263.029258,78.268599,1997,1.728310,Wyoming,1997,1.577174,Alabama,-0.151136,0.242429,Wyoming,0.294567,Alabama,0.052138,Wyoming,1997,4.8,Alabama,1997,5.0
45899,Alaska,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,AK,1982,before 1970,1,0,-1.000000,0.341857,26884.0,0.030710,612968,0.043859,102533.0,0.046885,4367935,0.023474,0.016176,-0.020385,40727.056541,90.016962,1997,NaN,Alaska,1997,1.577174,Alabama,NaN,0.888223,Alaska,0.294567,Alabama,-0.593655,Alaska,1997,7.1,Alabama,1997,5.0

In [337]:
## Anti-combination B-A
def get_anti(x,target = 'target'):
    if str(x['Year BC Passed_%s'%target])=='nan':
        return 0
    else:
        if x['Year BC Passed_%s'%target]> x['announce_year']:
            return 0
        else:
            return 1
anti = pd.read_excel('../data/policy.xlsx')
anti = anti[['State','Year BC Passed']]
anti.dropna(how='all',inplace=True)

reg_df = pd.merge(reg_df,anti,how='left',left_on=['Acquiror State'],right_on='State')
reg_df = pd.merge(reg_df,anti,how='left',left_on=['Target State'],right_on='State',suffixes=('_acquire','_target'))

reg_df['anti_competition_acquire'] = reg_df.apply(lambda x: get_anti(x,'acquire'),axis=1)
reg_df['anti_competition_target'] = reg_df.apply(lambda x: get_anti(x,'target'),axis=1)
reg_df['anti_competition_B-A'] = reg_df['anti_competition_target'] - reg_df['anti_competition_acquire']
reg_df.drop(columns=['State_acquire','State_target','anti_competition_acquire','anti_competition_target'],inplace=True)

,Acquiror State,Target State,announce_year,Target Name_acquire,Target Name_all,Acq_Count_A-B,Value of\nTransaction\n($mil)_acquire,Value of\nTransaction\n($mil)_all,Acq_Vol_A-B,State.1_target,Interstate banking_target,Intrastate branching_target,open_target,State.1_acquire,Interstate banking_acquire,Intrastate branching_acquire,open_acquire,open_B-A,growth_acquire,growth_target,GDP_acquire,GDP_growth_acquire,population_acquire,GDP_per_capita_acquire,GDP_target,GDP_growth_target,population_target,GDP_per_capita_target,GDP_growth_B-A,GDP_per_capita_B-A,GDP_diff,coincident_index,fyear_acquire,tobinq_acquire,state_full_acquire,fyear_target,tobinq_target,state_full_target,tobinq_B-A,payoff_acquire,state_full_acquire,payoff_target,state_full_target,stock_return_B-A,Area_acquire,year_acquire,unemployment_acquire,Area_target,year_target,unemployment_target,unemployment_B-A,State_acquire,Year BC Passed_acquire,State_target,Year BC Passed_target,anti_competition_acquire,anti_competition_target
0,Alabama,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AL,1987,1981,0,0,NaN,NaN,36006.0,0.073684,3900368,0.009231,15138.0,0.393538,405315,0.037349,0.319853,0.028117,17686.008948,53.718725,1980,1.046613,Alabama,1980,1.538256,Alaska,0.491643,0.262602,Alabama,-0.601266,Alaska,-0.863869,Alabama,1980,8.9,Alaska,1980,9.6,0.7,NaN,NaN,NaN,NaN,0,0
1,Arkansas,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AR,1989,1994,0,0,NaN,NaN,20100.0,0.061134,2288738,0.008782,15138.0,0.393538,405315,0.037349,0.332404,0.028567,13090.326018,51.662777,1980,1.128102,Arkansas,1980,1.538256,Alaska,0.410154,0.296157,Arkansas,-0.601266,Alaska,-0.897423,Arkansas,1980,7.6,Alaska,1980,9.6,2.0,NaN,NaN,NaN,NaN,0,0
2,Arizona,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,AZ,1986,before 1970,0,0,NaN,NaN,30431.0,0.114444,2737774,0.011115,15138.0,0.393538,405315,0.037349,0.279094,0.026233,15350.929426,34.910535,1980,1.724523,Arizona,1980,1.538256,Alaska,-0.186267,0.193647,Arizona,-0.601266,Alaska,-0.794913,Arizona,1980,6.6,Alaska,1980,9.6,3.0,Arizona,1987.0,NaN,NaN,0,0
3,California,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,CA,1987,before 1970,0,0,NaN,NaN,324407.0,0.111394,23800800,0.013630,15138.0,0.393538,405315,0.037349,0.282144,0.023719,131074.340461,41.980988,1980,2.152544,California,1980,1.538256,Alaska,-0.614288,0.397832,California,-0.601266,Alaska,-0.999098,California,1980,6.8,Alaska,1980,9.6,2.8,NaN,NaN,NaN,NaN,0,0
4,Colorado,Alaska,1980,NaN,NaN,0.000000,NaN,NaN,0,AK,1982,before 1970,0,CO,1988,1991,0,0,NaN,NaN,38151.0,0.132212,2908803,0.013116,15138.0,0.393538,405315,0.037349,0.261326,0.024233,16370.223708,40.135572,1980,4.272541,Colorado,1980,1.538256,Alaska,-2.734285,0.648190,Colorado,-0.601266,Alaska,-1.249457,Colorado,1980,5.8,Alaska,1980,9.6,3.8,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45895,Washington,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WA,1987,1985,1,0,1.277311,0.341857,174412.0,0.078215,5674747,0.030735,102533.0,0.046885,4367935,0.023474,-0.031329,-0.007261,65631.713638,75.814951,1997,3.239502,Washington,1997,1.577174,Alabama,-1.662328,0.155538,Washington,0.294567,Alabama,0.139029,Washington,1997,4.9,Alabama,1997,5.0,0.1,Washington,1987.0,NaN,NaN,1,0
45896,Wisconsin,Alabama,1997,2.0,95.0,0.021053,43.5,5949.601,0.007311,AL,1987,1981,1,WI,1987,1990,1,0,1.796580,0.341857,148831.0,0.049917,5266213,0.028261,102533.0,0.046885,4367935,0.023474,-0.003032,-0.004787,61962.783215,85.323038,1997,1.861830,Wisconsin,1997,1.577174,Alabama,-0.284656,0.409316,Wisconsin,0.294567,Alabama,-0.114748,Wisconsin,1997,3.6,Alabama,1997,5.0,1.4,Wisconsin,1987.0,NaN,NaN,1,0
45897,West Virginia,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WV,1988,1987,1,0,131.312000,0.341857,38517.0,0.031355,1819113,0.021174,102533.0,0.046885,4367935,0.023474,0.015530,0.002301,36690.871494,81.054516,1997,1.610294,West Virginia,1997,1.577174,Alabama,-0.033120,0.550778,West Virginia,0.294567,Alabama,-0.256210,West Virginia,1997,6.9,Alabama,1997,5.0,-1.9,NaN,NaN,NaN,NaN,0,0
45898,Wyoming,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,WY,1987,1988,1,0,0.892967,0.341857,16041.0,0.019641,489451,0.032773,102533.0,0.046885,4367935,0.023474,0.027244,-0.009299,40263.029258,78.268599,1997,1.728310,Wyoming,1997,1.577174,Alabama,-0.151136,0.242429,Wyoming,0.294567,Alabama,0.052138,Wyoming,1997,4.8,Alabama,1997,5.0,0.2,Wyoming,1989.0,NaN,NaN,1,0
45899,Alaska,Alabama,1997,NaN,NaN,0.000000,NaN,NaN,0,AL,1987,1981,1,AK,1982,before 1970,1,0,-1.000000,0.341857,26884.0,0.030710,612968,0.043859,102533.0,0.046885,4367935,0.023474,0.016176,-0.020385,40727.056541,90.016962,1997,NaN,Alaska,1997,1.577174,Alabama,NaN,0.888223,Alaska,0.294567,Alabama,-0.593655,Alaska,1997,7.1,Alabama,1997,5.0,-2.1,NaN,NaN,NaN,NaN,0,0

In [346]:
## corporate tax rate B-A
tax_df = pd.read_excel('../data/State Corporate Income Tax Rates, 2000-2014.xlsx',sheet_name='arrange')
reg_df = pd.merge(reg_df,tax_df,left_on='Acquiror State',right_on='State')
reg_df = pd.merge(reg_df,tax_df,left_on='Target State',right_on='State',suffixes=('_acquire','_target'))
reg_df['Corporate_income_tax_B-A'] = reg_df['rate_target'] - reg_df['rate_acquire']
reg_df.to_stata('baseline.dta',version=119)

,Acquiror State,Target State,announce_year,Target Name_acquire,Target Name_all,Acq_Count_A-B,Value of\nTransaction\n($mil)_acquire,Value of\nTransaction\n($mil)_all,Acq_Vol_A-B,State.1_target,Interstate banking_target,Intrastate branching_target,open_target,State.1_acquire,Interstate banking_acquire,Intrastate branching_acquire,open_acquire,open_B-A,growth_acquire,growth_target,GDP_acquire,GDP_growth_acquire,population_acquire,GDP_per_capita_acquire,GDP_target,GDP_growth_target,population_target,GDP_per_capita_target,GDP_growth_B-A,GDP_per_capita_B-A,GDP_diff,coincident_index,fyear_acquire,tobinq_acquire,state_full_acquire,fyear_target,tobinq_target,state_full_target,tobinq_B-A,payoff_acquire,state_full_acquire,payoff_target,state_full_target,stock_return_B-A,Area_acquire,year_acquire,unemployment_acquire,Area_target,year_target,unemployment_target,unemployment_B-A,Year BC Passed_acquire,Year BC Passed_target,anti_competition_B-A,State_acquire,rate_acquire,State_target,rate_target,Corporate_income_tax_B-A
0,Alabama,Alaska,1980,NaN,NaN,0.0,NaN,NaN,0,AK,1982,before 1970,0,AL,1987,1981,0,0,NaN,NaN,36006.0,0.073684,3900368,0.009231,15138.0,0.393538,405315,0.037349,0.319853,0.028117,17686.008948,53.718725,1980,1.046613,Alabama,1980,1.538256,Alaska,0.491643,0.262602,Alabama,-0.601266,Alaska,-0.863869,Alabama,1980,8.9,Alaska,1980,9.6,0.7,NaN,NaN,0,Alabama,5.0,Alaska,5.2,0.2
1,Alabama,Alaska,1981,NaN,NaN,0.0,NaN,NaN,0,AK,1982,before 1970,0,AL,1987,1981,0,0,1.000000,0.000000,40084.0,0.113259,3918533,0.010229,21665.0,0.431167,418493,0.051769,0.317908,0.041540,24477.728862,50.286766,1981,1.181645,Alabama,1981,1.285389,Alaska,0.103744,0.295225,Alabama,-0.904762,Alaska,-1.199987,Alabama,1981,10.6,Alaska,1981,9.4,-1.2,NaN,NaN,0,Alabama,5.0,Alaska,5.2,0.2
2,Alabama,Alaska,1982,NaN,NaN,0.0,NaN,NaN,0,AK,1982,before 1970,1,AL,1987,1981,0,1,-0.690000,0.000000,41478.0,0.034777,3925263,0.010567,23348.0,0.077683,449606,0.051930,0.042906,0.041363,24498.300814,47.386026,1982,1.274088,Alabama,1982,1.769610,Alaska,0.495522,0.266220,Alabama,-0.301137,Alaska,-0.567356,Alabama,1982,14.1,Alaska,1982,9.9,-4.2,NaN,NaN,0,Alabama,5.0,Alaska,5.2,0.2
3,Alabama,Alaska,1983,NaN,NaN,0.0,NaN,NaN,0,AK,1982,before 1970,1,AL,1987,1981,0,1,-0.176258,1.000000,45248.0,0.090892,3934100,0.011501,22548.0,-0.034264,488418,0.046165,-0.125156,0.034664,23380.038805,51.849168,1983,1.546993,Alabama,1983,NaN,Alaska,NaN,0.240343,Alabama,0.272767,Alaska,0.032424,Alabama,1983,13.8,Alaska,1983,9.9,-3.9,NaN,NaN,0,Alabama,5.0,Alaska,5.2,0.2
4,Alabama,Alaska,1984,NaN,NaN,0.0,NaN,NaN,0,AK,1982,before 1970,1,AL,1987,1981,0,1,13.124687,-1.000000,49713.0,0.098678,3951824,0.012580,23829.0,0.056812,513704,0.046387,-0.041866,0.033807,24794.529024,56.275239,1984,1.440471,Alabama,1984,NaN,Alaska,NaN,-0.058859,Alabama,0.062016,Alaska,0.120875,Alabama,1984,11.0,Alaska,1984,9.8,-1.2,NaN,NaN,0,Alabama,5.0,Alaska,5.2,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45895,Alaska,Alabama,1993,NaN,NaN,0.0,NaN,NaN,0,AL,1987,1981,1,AK,1982,before 1970,1,0,1.000000,-0.752864,22965.0,0.016555,599432,0.038311,83453.0,0.037328,4214202,0.019803,0.020772,-0.018508,32850.177781,85.058118,1993,NaN,Alaska,1993,1.364768,Alabama,NaN,-0.411682,Alaska,0.151622,Alabama,0.563303,Alaska,1993,7.7,Alabama,1993,7.3,-0.4,NaN,NaN,0,Alaska,5.2,Alabama,5.0,-0.2
45896,Alaska,Alabama,1994,NaN,NaN,0.0,NaN,NaN,0,AL,1987,1981,1,AK,1982,before 1970,1,0,-1.000000,0.133441,23110.0,0.006314,603308,0.038305,88581.0,0.061448,4260229,0.020793,0.055134,-0.017513,34891.272834,86.653394,1994,NaN,Alaska,1994,1.483716,Alabama,NaN,-0.032143,Alaska,0.031283,Alabama,0.063426,Alaska,1994,7.6,Alabama,1994,6.2,-1.4,NaN,NaN,0,Alaska,5.2,Alabama,5.0,-0.2
45897,Alaska,Alabama,1995,NaN,NaN,0.0,NaN,NaN,0,AL,1987,1981,1,AK,1982,before 1970,1,0,1.000000,4.683290,24805.0,0.073345,604412,0.041040,94021.0,0.061413,4296800,0.021882,-0.011932,-0.019158,38093.889566,86.673799,1995,NaN,Alaska,1995,1.638813,Alabama,NaN,0.302826,Alaska,0.286620,Alabama,-0.016206,Alaska,1995,7.3,Alabama,1995,6.0,-1.3,NaN,NaN,0,Alaska,5.2,Alabama,5.0,-0.2
45898,Alaska,Alabama,1996,NaN,NaN,0.0,NaN,NaN,0,AL,1987,1981,1,AK,1982,before 1970,1,0,2.012231,0.301628,26083.0,0.051522,608569,0.042860,97941.0,0.041693,4331102,0.022613,-0.009829,-0.020246,39172.300485,87.674883,1996,NaN,Alaska,1996,1.603728,Alabama,NaN,0.095174,Alaska,0.111820,Alabama,0.016646,Alaska,1996,7.6,Alabama,1996,5.2,-2.4,NaN,NaN,0,Alaska,5.2,Alabama,5.0,-0.2
45899,Alaska,Alabama,1997,NaN,NaN,0.0,NaN,NaN,0,AL,1987,1981,1,AK,1982,before 1970,1,0,-1.000000,0.341857,26884.0,0.030710,612968,0.043859,102533.0,0.046885,4367935,0.023474,0.016176,-0.020385,40727.056541,90.016962,1997,NaN,Alaska,1997,1.577174,Alabama,NaN,0.888223,Alaska,0.294567,Alabama,-0.593655,Alaska,1997,7.1,Alabama,1997,5.0,-2.1,NaN,NaN,0,Alaska,5.2,Alabama,5.0,-0.2

In [349]:
reg_df.to_csv('baseline.csv',index=False)